<h3>Welcome</h3>
<% if user_signed_in? %>
  <%= form_for @question do |f| %>
    <%= f.text_field(:content) %>
    <%= f.submit "Create" %>
  <% end %>
<% end %>
<% @questions.each do |question| %>
  <li>
    <%= question.user_id%>
    <%= question.content%>
    <%end%>
  </li>